/*-----------------page content------------------------*/

.wrapper {
    display: flex;
}

.left {
    /*margin-top:200px;*/
    width: 55%;
    padding: 100px;
}

.right {
    /*margin-top:500px;*/
    width: 45%;
    padding: 100px;
}

.wrapper.left h1{
    font-size: 34px;
    color: #008080;
    text-align: left;

}

.wrapper.left h3{
    font-size: 20px;
    color:#004d4d;
    text-align: left;
}

 .staffContent li{
    line-height: 190%;
    font-family: 'Times New Roman', Times, serif;
    color: #686666da;
    font-size: 18px;
}

.staffContent li::before{
    content: '\25AA	    ';
}

/* --------------- top links ----------------- */

.link .item::before,
.sublink .subitem::before {
    content: ' \02C3';
    font-weight: bolder;
}

.link .itemClicked::before {
    content: ' \02C5';
    font-weight: bolder;
}

.link .caption {
    font-size: 28px;
    font-weight: bold;
    color: var(--bg-color);
    text-transform: uppercase;
    font-family: var(--Lexend);
}

.link .item,
.link .item a,
.sublink .subitem,
.sublink .subitem a,
.link,
.sublink,
.link .itemClicked,
.link .itemClicked a {
    line-height: 250%;
    color: var(--theme);
}

.link .item:hover,
.link .item:hover a,
.sublink .subitem:hover,
.sublink .subitem:hover a {
    color: var(--bg-color);
    font-weight: 120%;
    background-color: #e0ebeb;
}


/* -------x-------- top links -------x---------- */


/*--------x---------page content------------x------------*/


/* ------------Page Content------------------- */

@media only screen and (max-width:750px) {
    .wrapper {
        display: block;
        margin-left: -70px;
        margin-right: -70px;
    }
    .left {
        width: 100%;
        box-sizing: border-box;
    }
    .right {
        width: 100%;
        box-sizing: border-box;
    }
}

@media only screen and (max-width:900px) {
    .wrapper {
        margin-top: -250px;
        display: inherit;
        margin-left: -100px;
        margin-right: -100px;
    }
    .left {
        margin-top: 180px;
        width: 100%;
        box-sizing: border-box;
    }
    .right {
        margin-top: 180px;
        width: 100%;
        box-sizing: border-box;
    }
}

@media only screen and (max-width:1024px) {
    .wrapper {
        margin-left: -100px;
        margin-right: -100px;
    }
    .left {
        margin-top: -200px;
        width: 100%;
        box-sizing: border-box;
    }
    .right {
        width: 100%;
        box-sizing: border-box;
    }
}

@media only screen and (max-width:1300px) {
    .wrapper {
        margin-top: -200px;
        margin-left: -80px;
        margin-right: -80px;
    }
    .left {
        margin-top: 180px;
        width: 100%;
        box-sizing: border-box;
    }
    .right {
        margin-top: 180px;
        width: 100%;
        box-sizing: border-box;
    }
}



/* ------------Logo------------------- */

@media only screen and (max-width: 320px) {
    .wrapper {
        margin-top: -100px;
    }
}

@media only screen and (min-width: 280px) {
    .wrapper {
        margin-top: -100px;
    }
    .right {
        margin-top: -200px;
        margin-bottom: -110px;
    }
    
}

@media only screen and (min-width: 320px) {
    .wrapper {
        margin-top: -100px;
    }
    .right {
        margin-top: -200px;
        margin-bottom: -110px;
    }
}

@media only screen and (min-width: 360px) {
    .wrapper {
        margin-top: -100px;
    }
    .right {
        margin-top: -200px;
    }
    .left h1 {
        margin-top: -15px;
        font-size: 19px;
    }
    .left .first {
        margin-top: 20px;
    }
}

@media only screen and (min-width: 375px) {
    .wrapper {
        margin-top: -50px;
    }
}

@media only screen and (min-width: 400px) {
    .wrapper {
        margin-top: -70px;
    }

}

@media only screen and (min-width: 750px) {
    .wrapper {
        margin-top: -20px;
    }
    .left {
        margin-top: 200px;
    }
    .left h1 {
        font-size: 25px;
    }
    
}

@media only screen and (min-width: 900px) {
    .wrapper {
        margin-top: 100px;
    }
    .right {
        margin-top: 160px;
    }
    .left h1 {
        font-size: 30px;
    }
}

@media only screen and (min-width: 1200px) {
    .wrapper {
        margin-top: -40px;
    }
    .right {
        margin-top: 180px;
    }
}

@media only screen and (min-width: 1300px) {

    .wrapper{
        margin-top:-40px;
    }

    .right{
        margin-top:140px;
    }

}



@media only screen and (min-width: 1920px) {
    .right {
        margin-top: 50px;
    }
    .left {
        margin-top: 100px;
    }

    .wrapper {
        margin-top: 100px;
    }

}